<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP VERIFY</title>
</head>
<body style="background-color:MediumSpringGreen;">
<form action="/validate" method="post">
    <center><h1>One time password has been sent to the Mail Id. Please Check !!! </h1></center>
    <center><p>by <b>Rameshwar Biradar</b></p></center><br><br>
    <center><b>Enter OTP: </b><input type="text" name="otp"></center><br>
    <center><input type="submit" value="Submit"></center>
</form>
</body>
</html>