<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME TO CHATBOT</title>
</head>
<body style="background-color:cornsilk;">
<h1><center><font color="Indigo"> ASK QUESTIONS </font></center></h1>

<form method="post">
    <center>
        <font color="red">YOU : </font>&emsp;<input type="text" name="user_input" placeholder="Start a Conversation" size="80"><br><br><br><br>
    </center>
</form>

<form method="post">
<center>
    <font color="blue">BOT : </font>&emsp;<input type="text" name="dialog_box" size="80" value="{{ bot_response }}"><br>
</center>
</form>
</body>
</html>