<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
</head>
<body style="background-color:MediumAquamarine;">
<form action="/update" method="post">
    <center><h1><font color ="red"> Update Student Info</font></h1></center>
    <center>StuId to be updated:- <input type = "text" name="oldstuid"></center><br>
    <center>New ID:- <input type = "text" name="newstuid"></center><br>
    <center>New Name:- <input type = "text" name="newname"></center><br>
    <center>New Marks:- <input type = "text" name="newmarks"></center><br>

    <center><input type = "Submit"></center>
</form>
</body>
</html>