<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Student Using Rest Api</title>
</head>
<body style="background-color:LawnGreen;">
<form action="" method="post">
    <center><h1><font color ="red"> Update Student Info</font></h1></center>
    <center>New ID:- <input type = "text" name="stuid"></center><br>
    <center>New Name:- <input type = "text" name="name"></center><br>
    <center>New Marks:- <input type = "text" name="marks"></center><br>

    <center><input type = "Submit"></center>
</form>
</body>
</html>