<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        .bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  }
    </style>
</head>
<body style="background-color:Aqua;">
    <center><h1><font color="red">Welcome Admin !</font></h1></center>
    <a href="/addstuinfo">
        <center><h2>1.Add data</h2></center>
        <center><button>To Add Click Here</button></center>
    </a>
    <a href="/delete">
        <center><h2>2.Delete data</h2></center>
        <center><button>To Delete Click Here</button></center>
    </a>
    <a href="/update">
        <center><h2>3.Update data</h2></center>
        <center><button>To Update Click Here</button></center>
    </a>
    <a href="/display">
        <center><h2>4.Display All Data</h2></center>
        <center><button>To Display Click Here</button></center>
    </a>
    <form action="/">
        <div class="bottomright"><h2><font color="red"> LOGOUT </font> </h2></div>
        <div class="bottomright"><button>Click Here</button></div>
<!--        <center><h2>5.Logout</h2></center>-->
<!--        <center><button>To Logout Click Here</button></center>-->
    </form>

</body>
</html>